<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640,user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='ffff.css') }}">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='pro.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base_style.css') }}">
    <!-- added_style.css는 로그인과 회원가입 관련 css 파일로 nav와 혹시라도 충돌 시 주석처리하면 롤백됩니다. -->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='added_style.css') }}">-->
    <title>Byte Coin</title>

    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/48c2f0e0c8.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='nav.js')}}"defer></script>



</head>
<body>
    <nav>
        <div class="nav_all">
            <div class="navbar_logo">
                  <a href="/">
                  <img class="w" src="{{url_for('static',filename='img/logo7.png') }}" alt="logo" width="400px" height="80px">
                  </a>
                  <a href="/" class="b">
                      <h2 class="text-decoration-none text-white float-right" style="margin-bottom : 0px; margin-top: 10px;">BYTECOIN</h2>
                  </a>
                <a href="#" class="navbar_toogle">
                    <i class="fas fa-bars"></i>
                </a>
                <a href="/auth/login" class="nav_img" style="margin-right:3px;">
                    <i class="fas fa-user-plus"></i>
                </a>
                    {% if g.user and g.user == "admin" %}
                <ul class="navbar_smallmenu">
                    <a class="text-decoration-none text-dark float-right" href="/auth/logout">{{ g.user }}(로그아웃)</a>
                    <a class="text-decoration-none text-dark float-right" href="/manage">회원 관리</a>
                </ul>
                {% elif g.user %}
                <ul class="navbar_smallmenu">
                    <a class="text-decoration-none text-dark float-right" href="/auth/logout">{{ g.user }}(로그아웃)</a>
                    <a class="text-decoration-none text-dark float-right" href="/information?nick={{ g.user }}">내정보</a>
                </ul>
                {% else %}
                <ul class="navbar_smallmenu">
                    <a class="text-decoration-none text-dark float-right" href="/auth/login" style="color:black;">로그인</a>
                    <a class="text-decoration-none text-dark float-right" href="/auth/signup" style="color:black;">회원가입</a>
                </ul>
                {% endif  %}
            </div>
            <div class="navbar">
                <div class="navbar_menu">
                    <li><a class="text-decoration-none" href="/">코인시세</a></li>
                    <li><a class="text-decoration-none" href="/introduce">거래사이트</a></li>
                    <li><a class="text-decoration-none" href="/introduce_coin">코인</a></li>
                    <li><a class="text-decoration-none" href="/question/list">게시판</a></li>
                    <li><a class="text-decoration-none" href="/int">소개</a></li>
                </div>
            </div>
        </div>
    </nav>
{% block content %}
{% endblock %}




<div class="foot">
            BYTE COIN | 팀장 : 권태준<br>
            전화번호 : 010-2593-9506 | 팀원: 김혜은 김휘람 <br>
            본 사이트에서 제공되는 모든 정보는 투자판단의 참고자료이며 서비스 이용에 따른 최종 책임은 이용자에게 있습니다.<br>
            Copyright (c) BYTE COIN All Rights Reserved.
</div>

</body>


</html>